---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const allPosts = await Astro.glob('./posts/*.md');
const title = "My Astro Learning Blog"
---

<BaseLayout pageTitle={title} >
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        { allPosts.map(post => <BlogPost url={ post.url } title={ post.frontmatter.title } />) }
    </ul>
</BaseLayout>
