---

---

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator}>
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello, Astro 🚀</h1>
	</body>
</html>
