---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting';

import '../styles/global.css'

const title = "Home Page 🚀"
---
<BaseLayout pageTitle={title}>
	<h2>something interesting here!</h2>
	<Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]}/>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]}/>
</BaseLayout>
